.multi-select-container {
    width: 100%;
    position: relative;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.14),0 2px 2px 0 rgba(0,0,0,.098),0 1px 5px 0 rgba(0,0,0,.084);

    li, button {
        outline: 0;
    }

    .highlighted {
        color: lighten(rgb(33,33,33), 30%);
    }

    .multi-select-choice-ul {
        display:flex;
        flex-wrap: wrap;
        position: relative;
        margin: 0;
        padding: 0 5px;
        width: 100%;
        cursor: text;
        list-style: none;
        border-bottom: 1px solid #eee;
    }

    .multi-select-choice-li {
        cursor: default;
        border-radius: 16px;
        display: block;
        height: 32px;
        line-height: 32px;
        margin: 4px 8px 0 0;
        padding: 0 8px 0 12px;
        float: left;
        box-sizing: border-box;
        max-width: 100%;
        background: rgb(224,224,224);
        color: rgb(66,66,66);

        &.chip-focused {
            background:red;
        }
    }

    .multi-select-choice-content {
        color: rgb(66, 66, 66);
        cursor: default;
        display: block;
        float: left;
        font-size: 13px;
        height: 32px;
        line-height: 32px;
        max-width: 100%;
        overflow-x: hidden;
        overflow-y: hidden;
        padding-right: 4px;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .multi-select-input-search-li {
        width: 100%;
        min-width: 150px;
        flex: 1;
    }

    .multi-select-choice-close {
        text-align: center;
        width: 32px;
        height: 32px;
        min-width: 0;
        padding: 0;
        background: 0 0;
        border: none;
        box-shadow: none;
        margin: 0;
        position: relative;
    }

    .multi-select-close-svg {
        height: 18px;
        width: 18px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate3d(-50%,-50%,0);
        transform: translate3d(-50%,-50%,0);
        fill: currentColor;
        color: rgba(0,0,0,0.54);
    }

    .multi-select-input-search {
        width: 100%;
        box-sizing: border-box;
        border: none;
        box-shadow: none;
        padding: 0 15px;
        font-size: 14px;
        line-height: 40px;
        height: 40px;
        outline: 0;
        background: 0 0;
    }

    .multi-suggestions-dropdown {

        .multi-suggestions-ul {
            list-style:none;
            margin: 0;
            padding: 0;
        }

        .multi-suggestion-li {
            position:relative;
            cursor: pointer;
            font-size: 14px;
            overflow: hidden;
            padding: 0 15px;
            line-height: 48px;
            height: 48px;
            transition: background .15s linear;
            margin: 0;
            white-space: nowrap;
            text-overflow: ellipsis;
            color: rgb(33,33,33);
            list-style-position: inside;

            &.suggestion-selected {
                color: lighten(rgb(33,33,33), 70%);
            }

            &.suggestion-focused {
                background: #eee;
            }
        }

        .multi-suggestion-title {
            line-height: 48px;
            height: 48px;
        }
    }

    svg {
        width: 30px;
        height: 30px;
        position: absolute;
        right: 10px;
        top:10px;
    }

    .svg-checkmark {
        display:none;
        animation: dash 1s ease-in-out forwards;
    }

    .svg-bg-circle {
        opacity: 1;
    }

    .svg-overlay-circle {
        display:none;
        animation: dash 0.3s ease-in-out forwards;
    }

    .suggestion-selected {
        .svg-checkmark {
            display:block;
            stroke-dasharray: 500;
            stroke-dashoffset: 500;
        }

        .svg-bg-circle {
            opacity: 0;
        }

        .svg-overlay-circle {
            display:block;
            stroke-dasharray: 500;
            stroke-dashoffset: 500;
        }
    }

    .suggestion-focused {
        .svg-bg-circle {
            stroke:#CCCCCC;
        }
    }

    @keyframes dash {
        to {
            stroke-dashoffset: 0;
        }
    }
}
